*{
    box-sizing: border-box;
}
body{
    background-image: url(http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png)
}
h1{
    color: goldenrod;
}
p{
    color: white;
    padding:20px;
}
nav{
    float: right;
    padding:5px;
}
ul{
    list-style: none;
}
.nav{
    background-color: gold;
    padding:2px;
    margin: 8px;
    width: 150px;
    height: auto;
    text-align: left;
    float: right;
    border-radius: 10px;
    position: relative;
    border: dashed;
    border-color: orangered;
    box-shadow: 2px 2px 40px 10px orange;
}
