*{
    box-sizing: border-box;
}
tr:nth-child(even){
    background-color: lightgray;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td:nth-child(even){
    text-align: right;
}
th:nth-child(1){
    text-align: left;
}
body{
    font-family: sans-serif;
    margin: 0px;
}
header{
    background-color: maroon;
    color: white;
    font-size: 26pt;
    padding: 10px;
}
nav{
    background-color: darkblue;
}
ul{
    list-style: none;
    color: white;
    padding: 0;
    margin-top: 0;
}
.menu{
    border-right: 1px solid white;
    border-top: 1px solid white;
    position: relative;
    padding: 10px;
    display: inline-block;
}
.menu:hover{
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}
.menu:hover ul{
    visibility: visible;
    display: block;
}
.menu ul{
    position: absolute;
    background-color:rgb(53, 53, 53); 
    color: white;
    top: 100%;
    box-shadow:2px 2px 5px black;
    left: 0px;
    visibility: hidden;
}
.menu li:not(:last-child){
    border-bottom: 1px solid white;
}
a{
    color: white;
    width: 150px;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 10px;
}
a:hover{
    background-color: grey;
}
header .menu{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid white;
    border-right: none;
    border-top: none;
    font-size:22pt;
    visibility: hidden;
}
header .menu ul{
    font-size: 16pt;
    left: auto;
    right: 0;
}
@media (max-width: 800px){
    nav{
        visibility: hidden;
    }
    header .menu{
        visibility: visible;
    }
}